wheel==0.40.0
pandas==2.2.2
mlflow==2.15.1
mlflavors==0.1.0
requests==2.32.3
plotly==5.23.0
plotly-express==0.4.1
great_tables==0.16.1
ipywidgets
jupyter 
apache-airflow==2.10.4
apache-airflow-providers-docker==4.0.0
pytest==8.3.4
statsforecast==1.7.6
mlforecast==0.13.3
lightgbm
xgboost
scikit-learn